/*COLORS
Rojo Rubi: #bd242b - 189, 36, 43
Granate: #990000 - 153, 0, 0
aliceblue: 240, 248, 255
*/


/*HOME*/

body{
     background-image:url("./IMG/negra02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

ul{
    list-style-type: none;
    width: 80%;
}

li{
    display: inline;
    margin-left: 10px;
} 

#logo {
    width: 64px;
    height: 64px;
    float: left;
    margin-left: 30px;
}

#header{
    width: 100%; 
    height: 70px; 
    text-align: center;
    margin-left: -8px;
    border-radius: 20px;
    background: linear-gradient(rgb(189, 36, 43), rgb(153, 0, 0));
    z-index: 19;
    position: fixed;
}

#home{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: aliceblue;
}

#tienda{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: aliceblue;
}

.log{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: aliceblue;
    cursor: pointer;
}

#saludo{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 80px;
    font-size: 60px;
    color: aliceblue;
 }

#present{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
   }

#pre2{
    text-align: center;
    width: 50%;
    float: left;
}

#image{
    width: 50%;
    text-align: center;
    float: right;
    margin-top: 50px;
    display:inline;
}


/*MAIN*/

#menus{
    width:100%;
    height: 100%;
    text-align: center;
    display: flex;
    margin-top: 1px;
    flex-wrap: wrap;
}

/*ANIMACIONES*/

@keyframes rotacionSalida
{
    0%
    {
        transform: rotateY(0deg);
    }
 
    100%
    {
        transform: rotateY(90deg);
        visibility: hidden;
    }
       
    
}
@keyframes rotacionEntrada
{
    0%
    {
        
        transform: rotateY(90deg);
        visibility: visible;
        
    }
    100% {
        transform: rotateY(0deg);
        visibility: visible;
        
        
      }

}

.cnt
{
    max-width: 23%;
    width: 23%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.frente {
    /*Alineacion*/
    width: 23%;
    min-width: 23%;
    margin-top: 30px;
    min-height: 480px;
    text-align: center;
    background-image: url("./IMG/Cuadro.png");
    background-size:100%;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    visibility: hidden;
    animation: 0.9s rotacionEntrada 0.9s 1 forwards;
}
.dorso {
    /*Alineacion*/
    width: 100%;
    min-width: 100%;
    margin-top: 30px;
    min-height: 480px;
    text-align: center;
    background-image: url("./IMG/Cuadro2.png");
    background-size:100%;
    background-repeat: no-repeat;
    z-index: 2;
    visibility: hidden;
    float: left;
    z-index: 1;
    transform: rotateY(90deg);
    line-height: 30px;
}

.dorso a{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
    cursor: pointer;
}

.dorso h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 14px;
    color: aliceblue;
    line-height: 16px;
    margin-bottom: 20px;
  }

.frente h2{
    /*Fuente*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 30px;
    color: aliceblue;
    margin-top: 45%;
}

#menus img{
    width: 65px;
    height:65px;
    text-align: center;
}


 /* SOBRE NOSOTROS*/

#somos {
    
    width: 100%;
    height: 100%;
    text-align: right;
    margin-right: 30px;
   
 }

#pres2{
    height: 100%;
    width: 48%;
    float: right;
    margin-left: 20px;
}

#image2 {
    height: 100%;
    width: 50%;
    text-align: center;
    display:inline;
       
}

#somos h2{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 80px;
    font-size: 60px;
    color: aliceblue;
    margin-right: 40px;
    
}

#somos p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 100px;
    margin-right: 40px;
  }


/*FOOTER*/

#footer{
    width: 100%;
    background: linear-gradient(rgb(189, 36, 43), rgb(153, 0, 0));
    border-radius: 20px;
    bottom: 0px;
    display:grid;
    
  
/*Fuentes*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 2px;
    font-style: normal;
    font-size: 12px;
    color: aliceblue;
   }

#footer_al{
    grid-column: 2 / 3;
    grid-row: 1;
    display:flex;
    flex-direction: row;
   width: 100%;
   margin-left: 10%;
}

#logbebe{
    grid-column: 1 / 3;
    grid-row: 1;
    width: 80px;
    height: 80px;
    place-content: center;
    
}

#footer h6{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 2px;
    font-style: normal;
    font-size: 25px;
    color: aliceblue; 
    grid-column: 1 / 3;
    grid-row: 2;
    
}

#redes{
    grid-column: 3 / 3;
    grid-row: 2;
   float: right;
   text-align: center;
}

#footer_al a{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    cursor: pointer;
}

#ddrr {
    grid-column: 2 / 3;
    grid-row: 2;
    /*max-width: 35%;*/
    margin-left: 25%;
    margin-top: 45px;

 }


/*FORMULARIOS-Log, Reg, Cont.*/

.form{
    background-color: #ebaa0428;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    border: 1.5px solid rgba(238, 192, 42, 0.459);
    margin: auto;
    width: 90%;
    max-width: 30%;
    padding:4.5em 3em;
    border-radius: 15px;
    box-shadow:0 5px 10px -5px rgb(0 0 / 30%);
    text-align: center;
    position: fixed;
    z-index: 20;
    margin-left: 30%;
  }

.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
    color: aliceblue;
}

.form_parrafo{
    font-weight:300 ;
    color: aliceblue;
}

.form_link{
    font-weight: 400;
    color: rgb(244, 247, 90);
}

.form_cont{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;

}

.form_grup{
    position: relative;
    --color: aliceblue;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem ;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: "Montserrat", sans-serif;
}


.form_input:not(:placeholder-shown){
    color: rgb(22, 10, 1);
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
   transform: translateY(-12px) scale(.7);
   transform-origin: left top;
   color: #ebaa04;
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;

}

.form_submit{
    background-color: #ebaa04;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ebaa04;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);
}

#cerrar{
    float: right;
    margin-top: -50px;
    margin-right: -25px;
}

@media (max-width:480px){
    .form_title{
        font-size: 1.8rem;
    }
}

#mns{
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    border: none;
    outline: none;
    background-color: #ebaa0428;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);


}

/*RESPONSIVE*/

@media all and (max-width: 480px) {
#image img {
        max-width: 100%;
        margin-top: 20%;
    }

#saludo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    font-size: 30px;
    color: aliceblue;
}

#scroll{
    visibility: hidden;
}

.cnt
{
   display: flex;
   min-width: 48%;
   width: 48%;
   float: left;
   margin-left: 1%;
   margin-right: 1%;
   flex-wrap: wrap;
}

.frente{
    width: 48%;
    min-width: 48%;
}

.frente h2{
    /*Fuente*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-style: normal;
    font-size: 16px;
    color: aliceblue;
    margin-top: 45%;
}

.dorso a{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 18px;
    color: aliceblue;
}

.dorso h2{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 10px;
    color: aliceblue;
    line-height: 16px;
    margin-bottom: 20px;
}

  }


@media all and (max-width: 801px) {
#image img {
        max-width: 100%;
        margin-top: 20%;
    }

#saludo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    font-size: 30px;
    color: aliceblue;
}

#scroll{
    visibility: hidden;
}

.cnt
{
   display: flex;
   min-width: 40%;
   width: 40%;
   float: left;
   margin-left: 1%;
   margin-right: 1%;
   flex-wrap: wrap;
}

.frente{
    width: 40%;
    min-width: 40%;
}
}


@media all and (max-width: 1024px) {

#image img {
    max-width: 100%;
    margin-top: 20%;
    }

#saludo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    font-size: 30px;
    color: aliceblue;
    }

.frente h2{
        /*Fuente*/
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        font-size: 16px;
        color: aliceblue;
        margin-top: 45%;
    }
    
.dorso a{
    
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 20px;
        font-style: normal;
        font-size: 18px;
        color: aliceblue;
    }
    
.dorso h2{
    
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 20px;
        font-style: normal;
        font-size: 10px;
        color: aliceblue;
        line-height: 16px;
        margin-bottom: 20px;
    }

 }

 



