/*HOME*/
body{
    background-image:url("./IMG/negra02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    list-style-type: none;
    width: 80%;
}

li{
    display: inline;
    margin-left: 10px;
} 

#logo {
    width: 64px;
    height: 64px;
    float: left;
    margin-left: 30px;
}

#header{
    width: 100%; 
    height: 70px; 
    text-align: center;
    margin-left: -8px;
    border-radius: 20px;
    background: linear-gradient(#bd242b, #990000);
    z-index: 19;
    position: fixed;
}

#home{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: aliceblue;
}

#tienda{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: aliceblue;
}

#log{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: aliceblue;
}

#saludo{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 80px;
    font-size: 60px;
    color: aliceblue;
 }

#present{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
   }

#pre2{
    text-align: center;
    width: 50%;
    float: left;
}

#image{
    width: 50%;
    text-align: center;
    float: right;
    margin-top: 50px;
    display:inline;
}

#scroll{
    width: 64px;
    height: 64px;
    float: right;
    margin-top: 23%;
}

#scroll img{
    width: 100%;
}

/*MAIN*/

#menus{
    width:100%;
    text-align: center;
    display: flex;
    margin-top: 1px;
    flex-wrap: wrap;
}

/*ANIMACIONES*/

@keyframes rotacionSalida
{
    0%
    {
        transform: rotateY(0deg);
    }
 
    100%
    {
        transform: rotateY(90deg);
        visibility: hidden;
    }
       
    
}
@keyframes rotacionEntrada
{
    0%
    {
        
        transform: rotateY(90deg);
        visibility: visible;
        
    }
    100% {
        transform: rotateY(0deg);
        visibility: visible;
        
        
      }

}

.cnt
{
    max-width: 23%;
    width: 23%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.frente {
    /*Alineacion*/
    width: 23%;
    min-width: 23%;
    margin-top: 30px;
    min-height: 480px;
    text-align: center;
    background-image: url("./IMG/Cuadro.png");
    background-size:100%;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    visibility: hidden;
    animation: 0.9s rotacionEntrada 0.9s 1 forwards;
}
.dorso {
    /*Alineacion*/
    width: 100%;
    min-width: 100%;
    margin-top: 30px;
    min-height: 480px;
    text-align: center;
    background-image: url("./IMG/Cuadro2.png");
    background-size:100%;
    background-repeat: no-repeat;
    z-index: 2;
    visibility: hidden;
    float: left;
    z-index: 1;
    transform: rotateY(90deg);
    line-height: 30px;
}

.dorso a{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
}

.dorso h2{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 14px;
    color: aliceblue;
    line-height: 16px;
    margin-bottom: 20px;
}

.frente h2{
    /*Fuente*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 30px;
    color: aliceblue;
    margin-top: 45%;
}

#menus img{
    width: 65px;
    height:65px;
    text-align: center;
}


/*FOOTER*/

#footer{
    width: 100%;
    height: 170px;
    background: linear-gradient(#bd242b, #990000);
    text-align: center;

    /*Fuentes*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 2px;
    font-style: normal;
    font-size: 12px;
    color: aliceblue;
   
}

#footer_al{
    width:50%;
    display:flex;
    flex-direction: row;
    margin-left: 20%;
}

#logbebe{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
}

#redes{
   width: 20%;
   float: right;
}

#footer_al a{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;

}

#ddrr {
    max-width: 35%;
    margin-left: 25%;
    margin-top: 85px;
}

/*LOG & SING CARD*/

#card
{
width: 100%;
height: 100%;
visibility: hidden;
position:fixed;
z-index: 20;
}

#popup
{
margin-left: 30%;
margin-top: 10%;
height: 20%;
width: 25%;
padding: 80px;
border-radius: 20px;
font-size: 10px;
color:white;
background: #ebaa0428;
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
border: 1.5px solid rgba(76, 205, 153, 0.2);
position: absolute;
z-index: 99;
/*visibility:hidden;*/
text-align: center;
}

#popup input{
 border-radius: 15px;
 border-style: hidden;
 outline: none;
 background-color:transparent;
 margin-top: 0px;
 height: 30px;
 margin-bottom: 30px;
 padding-left: 10px;
 height: 35px;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-size: 20px;
color:#fedd8c;
text-decoration-line: underline;
}

#popup button{
border-radius: 20px;
border-color: #fedd8c;
border-style: groove;
background-color: #ebaa04;
height: 35px;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-size: 12px;
color:#fedd8c;

}

#cerrar{
    margin-top: -13%;
    height: 10%;
    position: absolute;
    margin-left: 40%;
}


/*RESPONSIVE*/

  @media all and (max-width: 480px) {
    #image img {
        max-width: 100%;
        margin-top: 20%;
    }

    #saludo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    font-size: 30px;
    color: aliceblue;
}

#scroll{
    visibility: hidden;
}

.cnt
{
   display: flex;
   min-width: 48%;
   width: 48%;
   float: left;
   margin-left: 1%;
   margin-right: 1%;
   flex-wrap: wrap;
}

.frente{
    width: 48%;
    min-width: 48%;
}

.frente h2{
    /*Fuente*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-style: normal;
    font-size: 16px;
    color: aliceblue;
    margin-top: 45%;
}

.dorso a{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 18px;
    color: aliceblue;
}

.dorso h2{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 10px;
    color: aliceblue;
    line-height: 16px;
    margin-bottom: 20px;
}

  }


  @media all and (max-width: 801px) {
    #image img {
        max-width: 100%;
        margin-top: 20%;
    }

    #saludo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    font-size: 30px;
    color: aliceblue;
}

#scroll{
    visibility: hidden;
}

.cnt
{
   display: flex;
   min-width: 40%;
   width: 40%;
   float: left;
   margin-left: 1%;
   margin-right: 1%;
   flex-wrap: wrap;
}

.frente{
    width: 40%;
    min-width: 40%;
}
}


@media all and (max-width: 1024px) {

#image img {
    max-width: 100%;
    margin-top: 20%;
    }

#saludo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    font-size: 30px;
    color: aliceblue;
    }

    .frente h2{
        /*Fuente*/
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        font-size: 16px;
        color: aliceblue;
        margin-top: 45%;
    }
    
    .dorso a{
    
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 20px;
        font-style: normal;
        font-size: 18px;
        color: aliceblue;
    }
    
    .dorso h2{
    
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 20px;
        font-style: normal;
        font-size: 10px;
        color: aliceblue;
        line-height: 16px;
        margin-bottom: 20px;
    }

  }



