/*COLORS
Rojo Rubi: #bd242b - 189, 36, 43
Granate: #990000 - 153, 0, 0
aliceblue: 240, 248, 255
*/

/*HOME*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
     background-image:url("./IMG/negra02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}
.padt2
{
padding-top: 2%;
}

.padt5
{
padding-top: 5%;
}

ul{
    list-style-type: none;
    width: 80%;
  
}

.mart{
    margin-top: 10px;
}

ul li {
    display: inline;
    margin-left: 10px;
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 15px;
    transition: all .3s ease;
    cursor: pointer;
} 

ul li:hover{
    color: #ebaa04;
}

#identificar{
    display: inline;
}

#logo {
    width: 64px;
    height: 64px;
    float: left;
    margin-left: 30px;
}

#header{
    width: 100%; 
    height: 70px; 
    text-align: center;
    margin-left: -8px;
    border-radius: 20px;
    background: linear-gradient(rgb(189, 36, 43), rgb(153, 0, 0));
    z-index: 19;
    position: fixed;
}

/*#home{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: aliceblue;
}

#tienda{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: aliceblue;
} 

.log{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: aliceblue;
    cursor: pointer;
}*/

#saludo{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 80px;
    font-size: 60px;
    color: aliceblue;
 }

#present{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
   }

#pre2{
    text-align: center;
    width: 50%;
    float: left;
}

.image{
    width: 50%;
    text-align: center;
    float: right;
    margin-top: 50px;
    display:inline;
}

.image img {
    max-width: 100%;
    }


/*MAIN*/

#menus{
    width:100%;
    height: 100%;
    text-align: center;
    display: flex;
    margin-top: 1px;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*ANIMACIONES*/

@keyframes rotacionSalida
{
    0%
    {
        transform: rotateY(0deg);
    }
 
    100%
    {
        transform: rotateY(90deg);
        visibility: hidden;
    }
       
    
}
@keyframes rotacionEntrada
{
    0%
    {
        
        transform: rotateY(90deg);
        visibility: visible;
        
    }
    100% {
        transform: rotateY(0deg);
        visibility: visible;
        
        
      }

}

.cnt
{
    max-width: 23%;
    width: 23%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.frente {
    /*Alineacion*/
    width: 23%;
    min-width: 23%;
    margin-top: 30px;
    min-height: 480px;
    text-align: center;
    background-image: url("./IMG/Cuadro.png");
    background-size:100%;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    visibility: hidden;
    animation: 0.9s rotacionEntrada 0.9s 1 forwards;
}
.dorso {
    /*Alineacion*/
    width: 100%;
    min-width: 100%;
    margin-top: 30px;
    min-height: 480px;
    text-align: center;
    background-image: url("./IMG/Cuadro2.png");
    background-size:100%;
    background-repeat: no-repeat;
    z-index: 2;
    visibility: hidden;
    float: left;
    z-index: 1;
    transform: rotateY(90deg);
    line-height: 30px;
}

.dorso a{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
}

.dorso a:hover{
    color: #ebaa04;
}

.dorso h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 14px;
    color: aliceblue;
    line-height: 16px;
    margin-bottom: 20px;
  }

.frente h2{
    /*Fuente*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 30px;
    color: aliceblue;
    margin-top: 45%;
}

#menus img{
    width: 65px;
    height:65px;
    text-align: center;
}


 /* SOBRE NOSOTROS*/

#somos {
    
    width: 100%;
    height: 100%;
    text-align: right;
    margin-right: 30px;
   
 }

#pres2{
    height: 100%;
    width: 48%;
    float: right;
    margin-left: 20px;
}

#image2 {
    height: 100%;
    width: 50%;
    text-align: center;
    display:inline;
       
}

#somos h2{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 80px;
    font-size: 60px;
    color: aliceblue;
    margin-right: 40px;
    
}

#pres2 p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 100px;
    margin-right: 40px;
  }
  


/*FOOTER*/

.container{
    max-width: 1200px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background: linear-gradient(rgb(189, 36, 43), rgb(153, 0, 0));
    padding: 80px 0;
    border-radius: 15px;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 20px;
    font-weight: 500;
    border-bottom: 2px solid #ebaa04;
    padding: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
    cursor: pointer;
}

.footer-links ul li a:hover{
    color: #ebaa04;
    padding-left: 6px;
}

.social a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background: linear-gradient(rgb(189, 36, 43), rgb(153, 0, 0));
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: aliceblue;
    transition: all .5s ease;
}

.social a:hover{
    color: #ebaa04;
}

.der{
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

/*FORMULARIOS-Log, Reg, Cont.*/

.form{
    background-color: #ebaa0428;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    border: 1.5px solid rgba(238, 192, 42, 0.459);
    margin: auto;
    width: 90%;
    max-width: 30%;
    padding: 72px 48px;
    border-radius: 15px;
    box-shadow:0 5px 10px -5px rgb(0 0 / 30%);
    text-align: center;
    position: fixed;
    z-index: 20;
    margin-left: 30%;
  }

.form_title{
    font-size: 32px;
    margin-bottom: 8px;
    color: aliceblue;
}

.form_parrafo{
    font-weight:300 ;
    color: aliceblue;
}

.form_link{
    font-weight: 400;
    color: rgb(244, 247, 90);
}

.form_cont{
    margin-top: 48px;
    display: grid;
    gap: 40px;

}

.form_grup{
    position: relative;
    --color: aliceblue;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 16px ;
    padding: 9.6px 4.8px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: "Montserrat", sans-serif;
}


.form_input:not(:placeholder-shown){
    color: rgb(22, 10, 1);
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
   transform: translateY(-12px) scale(.7);
   transform-origin: left top;
   color: #ebaa04;
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;

}

.form_submit{
    background-color: #ebaa04;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 12.8px 0;
    border: none;
    border-radius: 8px;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ebaa04;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);
}

#cerrar{
    float: right;
    margin-top: -50px;
    margin-right: -25px;
}

#mns{
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    border: none;
    outline: none;
    background-color: #ebaa0428;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);


}
.map{
    overflow:hidden;
}

/*RESPONSIVE*/

@media all and (max-width: 480px) {
    
.image img {
        max-width: 100%;
        margin-top: 20%;
    }

#saludo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    font-size: 30px;
    color: aliceblue;
}

#scroll{
    visibility: hidden;
}

.cnt
{
   display: flex;
   min-width: 48%;
   width: 48%;
   float: left;
   margin-left: 1%;
   margin-right: 1%;
   flex-wrap: wrap;
}

.frente{
    width: 48%;
    min-width: 48%;
}

.frente h2{
    /*Fuente*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-style: normal;
    font-size: 16px;
    color: aliceblue;
    margin-top: 45%;
}

.dorso a{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 18px;
    color: aliceblue;
}

.dorso h2{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 10px;
    color: aliceblue;
    line-height: 16px;
    margin-bottom: 20px;
}

.form_title{
    font-size: 28.8px;
}

 #somos{
    margin-top: 80px;
    font-size: 30px;
 }

 #image2 {
    max-width: 100%;
    margin-top: 20%;
}

  }


@media all and (max-width: 801px) {
.image img {
        max-width: 100%;
        margin-top: 20%;
    }

#saludo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    font-size: 30px;
    color: aliceblue;
}

#scroll{
    visibility: hidden;
}

.cnt
{
   display: flex;
   min-width: 40%;
   width: 40%;
   float: left;
   margin-left: 1%;
   margin-right: 1%;
   flex-wrap: wrap;
}

.frente{
    width: 40%;
    min-width: 40%;
}

.footer-row{
    text-align: center;
}
.footer-links{
    width: 50%;
    margin-bottom: 30px;
}
.footer-links h4{
    margin-bottom:10px;
}
.footer links ul li a{
    margin-bottom:0;
}
}



@media all and (max-width: 1024px) {

.image img {
    max-width: 100%;
    margin-top: 20%;
    }

#saludo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    font-size: 30px;
    color: aliceblue;
    }

.frente h2{
        /*Fuente*/
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 15px;
        font-style: normal;
        font-size: 16px;
        color: aliceblue;
        margin-top: 45%;
    }
    
.dorso a{
    
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 20px;
        font-style: normal;
        font-size: 18px;
        color: aliceblue;
    }
    
.dorso h2{
    
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 20px;
        font-style: normal;
        font-size: 10px;
        color: aliceblue;
        line-height: 16px;
        margin-bottom: 20px;
    }

 }

 /*RECETAS -Proximamente-*/

.recetario {
    background-image:url("./IMG/negra02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

#titulo-receta{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    font-size: 30px;
    color: aliceblue;
}


.recetas{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    font-size: 14px;
    color: aliceblue;
    margin-bottom: 80px;
    max-width: 48%;
    float: left;
}
 .muestra{
    margin-top: 70px;
 }
 
 .userdata{
    float: right;
 }

 #userdata{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 12px;
 }
